*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-color: #336699;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 80px;
    width: 90px;

}
.border{
    display: flex;
}
.search {
    display: flex;
    background-color: white;
    height : 50px;
    align-items: center;
    margin-left: 150px;
    border-radius: 3px;
}
.select{
    height: 20px;
    border : none
}
.input input {
    width: 450px;
    height: 20px;
    border : none;
}
.button{
    border-radius: 3px;
    background-color: black;
    color: white;
    padding: 5px;
    height: 50px;
    cursor: pointer;
}
.cart{

    display: flex;
    align-items: center;
    margin-left: 100px;
    height: 80px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding : 0px 30px;
}
.cart a{
    text-decoration: none;
    color: white;
}
.cart a:hover{
    color :red;
}
.icon{
    padding: 0 50px;
}
.box{
    background-color: #ccc;
    border-radius: 50%;
    padding: 10px;
}
#row2{
    margin-top: 30px;
    display : flex;
    padding: 5px;
}
#menu{
    border: 1px solid #336699;
    min-width: 200px;
}
.title{
    background-color: #336699;
    color: white;
    padding: 5px;
}
.mainmenu{
    list-style: none;
}
.menuitem{
    border-bottom: 1px solid #ccc;
    padding: 7px 5px ;
    display: flex;
    position: relative;
}
.menuitem:hover{
    color : #336699;

}
.laptop{
    display: flex;
    justify-content: space-between;
}
.menu2 {
    display: none;
    position: absolute;
    right: -151px;
    top : 0;
    width: 150px;
    border: 1px solid #ccc;
    background-color: white;
    z-index:9;
}
.menuitem2{
    list-style: none;
    margin: 10px;

}
.menuitem2 a{
    text-decoration: none;
    color: black;
    margin: 30px;
}
.menuitem2 a:hover{
    color :#336699;
    border-bottom: 1px solid #ccc;
}
.menuitem:hover .menu2{
    display: block;
}
#content{
    border: 1px solid #336699;
    display: flex;
    flex-wrap : wrap;
    justify-content: space-between;
    margin-left: 10px;
}
.product{
    border: 1px solid #ccc;
    width: 25%;
    padding: 10px;
}
.product img{
    width: 150px;
    height: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.name:hover{
    color:red
}
.lastprice{
    display: flex;
}
.lprice{
    color : red;
    font-size: 18px;
}
.discount{
    background-color: red;
    color: white;
    margin-left: 10px;
    padding: 2px 5px;
}
.realprice{
    text-decoration:line-through;
}
.infor{
    display: flex;
    justify-content: space-between;
}
.iconbuy{
    border: 1px solid #ccc;
    padding: 8px
}
